<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"><?define IndiceAcademico_TargetDir=$(var.IndiceAcademico.TargetDir)?>
	<Product Id="*" Name="INDSetup" Language="1033" Version="1.0.0.0" Manufacturer="" UpgradeCode="ae08a09b-3e1d-4896-a8a5-89c25d41de12">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="INDSetup" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="INDSetup" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<!-- <Component Id="ProductComponent"> -->
				<!-- TODO: Insert files, registry keys, and other resources here. -->
			<!-- </Component> -->
			<Component Id="IndiceAcademico.exe" Guid="85224dbf-5120-47d7-be59-556b74a86a0b">
			  <File Id="IndiceAcademico.exe" Name="IndiceAcademico.exe" Source="$(var.IndiceAcademico_TargetDir)IndiceAcademico.exe" />
			</Component>
			<Component Id="IndiceAcademico.exe.config" Guid="96d98720-1c50-4601-9f22-47b971a9b706">
			  <File Id="IndiceAcademico.exe.config" Name="IndiceAcademico.exe.config" Source="$(var.IndiceAcademico_TargetDir)IndiceAcademico.exe.config" />
			</Component>
			<Component Id="IndiceAcademico.pdb" Guid="a82b4897-83ed-4884-bf05-9eef9fe0074b">
			  <File Id="IndiceAcademico.pdb" Name="IndiceAcademico.pdb" Source="$(var.IndiceAcademico_TargetDir)IndiceAcademico.pdb" />
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>
